#root{
  font-family: "Permanent Marker", cursive;
}
.bg-rojo{
  background-color: #d70101;
  color: white;
}
.text-rojo{
  color: rgb(215, 1, 1);
}
.outline-rojo{
  border: 1px solid rgb(215, 1, 1) !important;
  color: rgb(215, 1, 1);
  background-color: white;
}
/* HEADER */
.header{
  position: absolute; /* Posiciona el encabezado de forma absoluta */
  top: 0; /* Lo coloca en la parte superior del contenedorPrincipal */
  left: 0; /* Lo coloca en la parte izquierda del contenedorPrincipal */
  width: 100%; /* Ocupa todo el ancho del contenedorPrincipal */
  z-index: 1; /* Hace que el encabezado esté por encima del contenedorPrincipal */
}
.logoMenu{
  width: 50px;
}
.text-header:hover{
  color: rgb(224, 0, 0)!important;
}

.icono-header{
  width: 28px;
}
/* Media Query para pantallas más pequeñas, como celulares y tablets */
@media only screen and (max-width: 768px) {
  .contenedorImgHeader{
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .icono-header{
    margin-left:10px ; 
    margin-right: 0; }
  .contenedorEnlacesNav{
      display: flex;
      flex-direction: column;
      align-items: end;
    }
}

/* INICIO */
.contenedorPrincipal {
  background-image: linear-gradient(rgba(19, 19, 19, 0.5), rgba(78, 1, 1, 0.615)), url("./assets/imagenes/portada.jpg");
  background-size:cover; /* Ajusta la imagen al tamaño del contenedor */
  background-position:bottom; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita la imagen */
  background-attachment: fixed; /* Hace que la imagen de fondo se quede fija */
  position: relative; /* Establece el contexto de apilamiento para los elementos secundarios */
  height: 98vh;
  opacity: 0.9; /* Ajusta la opacidad del contenedor */
}
.logoTkcInicio{
  width: 90%;
}
/* SERVICIOS */
.card-img{
  width: 100%; /* Ajustar el ancho del contenedor */
  height: 100%; /* Ajustar la altura del contenedor */
  object-fit: cover; /* Escalar la imagen para cubrir completamente el contenedor */
  opacity: 0.8;
}
.card-img:hover{
  opacity: 0.9;
}
.card-servicio{
  width: 300px!important;
  height: 200px!important;
  box-shadow: 5px 5px 5px rgb(45, 45, 45)!important;
  transition: transform 0.3s ease; /* Transición suave para el cambio de tamaño */
  margin-bottom: 25px;
}
.card-servicio:hover{
  transform: scale(1.1); /* Escala la tarjeta al 110% de su tamaño original */
}
.text-card{
  font-weight: bold;
  font-size: 25px;
  text-shadow: 2px 2px 2px rgb(22, 22, 22);

}
.btn-card{
  font-weight: bold;
  font-size: 20px;
  text-shadow: 1px 1px 1px black;
}
.btn-card:hover{
  color: rgb(83, 2, 2);
}

/* SOBRE NOSOTROS */

.iconoKayak{
  font-size: 80px;
}

/* CONTACTO */
.iconoWp, .iconoFb, .iconoInsta{
  font-size: 50px;
}
.textRedSocialContacto{
  font-size: 20px;
}
/* FOOTER */
.logotkc-footer{
  width: 70%;
}