
/* HEADER */
.header{
  position: absolute; /* Posiciona el encabezado de forma absoluta */
  top: 0; /* Lo coloca en la parte superior del contenedorPrincipal */
  left: 0; /* Lo coloca en la parte izquierda del contenedorPrincipal */
  width: 100%; /* Ocupa todo el ancho del contenedorPrincipal */
  z-index: 1; /* Hace que el encabezado esté por encima del contenedorPrincipal */

}
.logoMenu{
  width: 50px;
}
.text-header:hover{
  color: rgb(224, 0, 0)!important;
  text-decoration: underline!important;
}
.icono-header{
  width: 28px;
}

/* INICIO */
.contenedorPrincipal {
  background-image: linear-gradient(rgba(36, 33, 33, 0.5), rgba(255, 0, 0, 0.5)), url("./assets/imagenes/portada.jpg");
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  background-position:bottom; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita la imagen */
  position: relative; /* Establece el contexto de apilamiento para los elementos secundarios */
  height: 100vh;
  opacity: 0.9; /* Ajusta la opacidad del contenedor */
}
.logoTkcInicio{
  width: 90%;
}
/* SERVICIOS */
.imagenServicio{
  height: 250px;
  border-radius: 10px;
  box-shadow: 7px 7px 7px;
  opacity: 0.75;
}
.imagenServicio:hover{
  opacity: 0.9;
}
.text-img{
  z-index: 1;
  position: absolute;
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgb(101, 6, 6);
}
/* FOOTER */
.logotkc-footer{
  width: 70%;
}